
/03-node_bases/node_modules/
/03-node_bases/salida/*.txt

/04-app_tasks/node_modules/

/05-climated_app/node_modules/
/05-climated_app/.env

/06-webserver/node_modules/
/06-webserver/.env

/07-restserver/node_modules/
/07-restserver/.env